---
layout: layout.liquid
title: 11ty Boilerplate
---

<p class="mt-6 text-center text-lg text-black-700">
  Welcome to the Wu-Tang Name Generator. Click the button above to get your new kung fu nickname playa!.
</p>

